body{
    font-family: 'Muli', sans-serif;
}

p {
    color: rgb(117, 117, 117);
}

.circle-image {
    width: 100%;
    border-radius: 10000px;
    border: 5px solid rgb(255, 255, 255);
}

/*HEADER*/
.header {
    height: 620px;
    background-image: url("../img/header-background-edited.jpg");
    background-size: cover;
    background-position: 50% 62%;
        
}

.header-navbar-links {
    color: white;
    float: right;
    margin-top: 50px;
    
}

.header-navbar-links li{
    margin-left: 26px;
    float: left;
    list-style-type: none;
    text-shadow: 0px 0px 2px black;
}

.header-navbar-links a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

.header-navbar-links a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.header-brand-wrapper{
    margin-top: 50px;
    float: left;
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    margin-top: -10%;
    display: block;
    text-shadow: 0px 0px 2px black;
}

.slogan {
    padding-top: 110px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

.slogan-top{
    font-size: 170%;
    font-weight: lighter;
}

.slogan-bottom{
    font-size: 250%;
    font-weight: bold;
}

.slogan-button{
    margin-top: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black;
}
.slogan-button:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black;
}

/* BODY */
.service{
    padding-top: 100px;
    padding-bottom: 85px;
}

.service-title{
    font-weight: lighter;
    color: rgb(30, 30, 30);
}

.service-icon {
    color: rgb(224 , 224, 224);
    font-size: 1250%;
    text-align: center;
    margin-top: -10%;
    margin-bottom: -20%;
}

.service-grey{
   background-color: rgb(250, 250, 250);
}

/* FEATURES */
.features{
    padding-top: 100px;
    padding-bottom: 85px;
}
.feature-icon{
    width: 70px;
    height: 60px;
    padding-top: 10px;
    /* padding-left: 1px; */
    background-color: rgb(30, 30, 30);
    border-radius: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    float: left;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.feature-icon:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.feature-text{
    margin-left: 90px;
    
}
.feature-text h5{
    margin-bottom: 8px;
    font-size: 150%;
    color: rgb(30, 30, 30);
}

/* CLIENTS */

.clients{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(245, 245, 245);
    
}
.clients-heading {
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}
.clients-subheading {
    text-align: center;
    margin-bottom: 50px;
}

.client-quote,
.client-quote2{
    border: 2px solid rgb(235, 235, 235);
    background-color: rgb(255, 255, 255);
    padding-left: 75px;
    padding-top: 55px;
    padding-bottom: 50px;
    padding-right: 75px;
    border-radius: 3px;
    font-size: 150%;
    font-weight: lighter;
    font-style: italic;
    position: relative;
    margin-bottom: 30px;
}
.client-quote p{
    margin-bottom: 5px;
}
.client-quote-author{
    font-style: normal;
    font-size: 70%;
    color: rgb(119, 147, 197);
}
.client-quote::before,
.client-quote2::before,
.client-quote::after,
.client-quote2::after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
     
}

.client-quote::before {
    
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid rgb(235, 235, 235);   
}
.client-quote::after {
    
    left: -26px;
    margin-top: -13px;
    border: 13px solid transparent;
    border-right: 13px solid rgb(255, 255, 255);    
}

.client-quote2::before{
    right: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid rgb(235, 235, 235);   
}
.client-quote2::after{
    right: -26px;
    margin-top: -13px;
    border: 13px solid transparent;
    border-left: 13px solid rgb(255, 255, 255);    
}

/*TEAM*/


.team{
    
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    
}
.team-heading {
    /*color: rgb(255, 255, 255);*/
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}
.team-subheading {
    color: rgb(100, 100, 100);
    text-align: center;
    margin-bottom: 50px;
}
/*
.team-image {
    display: inline-block;
    width: 100%;
    border-radius: 10000px;
    border: 5px solid rgb(255, 255, 255);
}
*/
.team-image {
    max-width: 70%;

}

.team-image-container {
    text-align: center;
}


.team-text {
    margin-left: 90px;
    
}

.team-name {
    font-weight: bold;
    text-align: center;
    /*color: rgb(200, 200, 200);*/
    margin-top: 10px;
    margin-bottom: 0px;
}

.team-name-desk{
    text-align: center;
    margin-bottom: 7px;
}

.team-icon{
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10000px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.team-icon .fa{
    margin-top: 5px;
}

.team-icons a:hover{
    color: rgb(200, 200, 200);
}
.team-icons{
    text-align: center;
}

.team-slogan{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

/*Contact*/

.contact{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(118, 143,197);
    
}

.contact-heading{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin-bottom: 15px;
}

.contact-subheading{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    
}

.contact-methods{
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-weight: lighter;
}

.contact-methods li{
    width: 50%;
    float: left;
    height: 2.5em;
}

.contact-methods .fa{
    font-size: 150%;   
}

.contact-icon{
    display: inline-block;
    width: 40px;
    text-align: center;
    
}

.contact-input{
    width: 100%;
    margin-bottom: 28px;
    background-color: rgb(255, 255, 255);
}

.contact-input:focus, 
input.contact-input:focus {
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.contact-message{
    height: 140px;
}

input.contact-submit[type="submit"]{
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.contact-form{
    margin-bottom: 0px;
}

/* Footer */
.footer{
    background-color: rgb(118, 143,197);
    text-align: center;
    
    font-weight: lighter;
}

.footer p {
    color: rgb(255, 255, 255); 
}

.footer a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}


.footer-hr{
    margin-top: 0px;
    margin-bottom: 25px;
}