/* CLIENTS */

.clients{
    padding-top: $landing-padding;
    padding-bottom: $landing-padding;
    background-color: rgb(245, 245, 245);
    
}
.clients-heading {
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}
.clients-subheading {
    text-align: center;
    margin-bottom: 50px;
}

.client-quote,
.client-quote2{
    border: 2px solid rgb(235, 235, 235);
    background-color: rgb(255, 255, 255);
    padding-left: 75px;
    padding-top: 55px;
    padding-bottom: 25px;
    padding-right: 20px;
    border-radius: 3px;
    font-size: 150%;
    font-weight: lighter;
    font-style: italic;
    position: relative;
    margin-bottom: 30px;

    @media ($bp-larger-than-phablet){
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 55px;
        padding-bottom: 50px;
        
    }
}
.client-quote p{
    margin-bottom: 5px;
}
.client-quote-author{
    font-style: normal;
    font-size: 70%;
    color: rgb(119, 147, 197);
}

@media ($bp-larger-than-phablet){
    .client-quote::before,
    .client-quote2::before,
    .client-quote::after,
    .client-quote2::after{
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 50%;
        
    }

    .client-quote::before {
        
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(235, 235, 235);   
    }
    .client-quote::after {
        
        left: -26px;
        margin-top: -13px;
        border: 13px solid transparent;
        border-right: 13px solid rgb(255, 255, 255);    
    }

    .client-quote2::before{
        right: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-left: 15px solid rgb(235, 235, 235);   
    }
    .client-quote2::after{
        right: -26px;
        margin-top: -13px;
        border: 13px solid transparent;
        border-left: 13px solid rgb(255, 255, 255);    
    }
}
.client-image {
    display: none;

    @media ($bp-larger-than-phablet){
        display: block;
        margin-top: 150px;
    }
    @media ($bp-larger-than-tablet){
        margin-top: 75px;
    }
    @media ($bp-larger-than-desktop){
        margin-top: 10px;
    }
    @media ($bp-larger-than-desktophd){
        margin-top: 0px;
    }
}
.client-quote-image{
    width: 40px;
    float: left;
    margin-right: 5px;

     @media ($bp-larger-than-phablet){
        display: none;
    }
}