/*Contact*/

.contact{
    padding-top: $landing-padding;
    padding-bottom: $landing-padding;
    background-color: rgb(118, 143,197);
    
}

.contact-heading{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin-bottom: 15px;
}

.contact-subheading{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    
}

.contact-methods{
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-weight: lighter;
}

.contact-methods li{
    width: 50%;
    float: left;
    height: 2.5em;

    @media ($bp-larger-than-phablet){
        width: 100%;
        float: none;
    }
    @media ($bp-larger-than-desktop){
        width: 50%;
        float: left;
    }
}

.contact-methods .fa{
    font-size: 150%;   
}

.contact-icon{
    display: inline-block;
    width: 40px;
    text-align: center;
    
}

.contact-input{
    width: 100%;
    margin-bottom: 28px;
    background-color: rgb(255, 255, 255);
}

.contact-input:focus, 
input.contact-input:focus {
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.contact-message{
    height: 140px;
}

input.contact-submit[type="submit"]{
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.contact-form{
    margin-bottom: 0px;
}
.contact-label {
    color: rgb(255, 255, 255);
    display: none;
}
.no-placeholder .contact-label{
    display: block;
}