
/* Footer */
.footer{
    background-color: rgb(118, 143,197);
    text-align: center;
    
    font-weight: lighter;
}

.footer p {
    color: rgb(255, 255, 255); 
}

.footer a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}


.footer-hr{
    margin-top: 0px;
    margin-bottom: 25px;
}