/*HEADER*/
.header {
    height: 620px;
    background-image: url("../img/header-background-edited.jpg");
    background-size: cover;
    background-position: 50% 62%;
        
}

.header-navbar-links {
    color: white;
    float: right;
    margin-top: 50px;
    display: none;

    @media ($bp-larger-than-tablet){
        display: block;  
    }
}

.header-navbar-links li{
    margin-left: 26px;
    float: left;
    list-style-type: none;
    text-shadow: 0px 0px 2px black;
}

.header-navbar-links a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

.header-navbar-links a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.header-brand-wrapper{
    margin-top: 50px;
    float: left;
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    margin-top: -10%;
    display: block;
    text-shadow: 0px 0px 2px black;
}

.slogan {
    padding-top: $landing-padding + 10px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

.slogan-top{
    font-size: 170%;
    font-weight: lighter;
}

.slogan-bottom{
    font-size: 250%;
    font-weight: bold;
}

.slogan-button{
    margin-top: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black;
}
.slogan-button:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black;
}


#side-menu-trigger {
    float: right;
    color: rgb(255, 255, 255);
    margin-top: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 200%;
    height: inherit;

    @media ($bp-larger-than-tablet){
        display: none; 
    }
}